/* rgb(59, 59, 59) */


@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wdth@0,75..100;1,75..100&display=swap');

* {
    font-family: "Ubuntu Sans", sans-serif;
}

body {
    background-color: black;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#control {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0px 0px 5px 5px;
    z-index: 3;
}

button {
    padding: 5px 0px;
    border: 1px solid rgb(59, 59, 59);
    background: transparent;
    color: white;
}

button:active {
    border: white 1px solid;
}

#start {
    width: 150px;
}

#info {
    width: 50px;
}

#video {
    padding: 5px 10px;
}

.uwu-con{
    position: absolute;
    border: 1px solid rgb(59, 59, 59);
    padding: 5px 10px;
    margin-left: 5px;
    bottom: 200px;
    width: 284px;
    height: 470px;
    left: -320px;
    transition: all 800ms cubic-bezier(0.375, 0.290, 0.005, 1.210);
    z-index: 3;
    background-image: url(./asset/uwu.jpg);
    background-size: cover;
    background-position: center ;
}

#info-container {
    color: white;
    position: absolute;
    border: 1px solid rgb(59, 59, 59);
    padding: 5px 10px;
    margin-left: 5px;
    bottom: 40px;
    left: -320px;
    transition: all 800ms cubic-bezier(0.375, 0.290, 0.005, 1.210);
    z-index: 3;
}

#info-container span {
    font-size: 80%;
    color: rgb(204, 204, 204);
}

#info-container p {
    padding: 0;
    margin: 3px 0px;
}

.on {
    position: absolute;
    transform: translateX(320px);
}

.notes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    opacity: 0;
    transition: all 800ms;
}

.notes p{
    color: white;
    margin: 10px;
}

/* Card container */
.image-slideshow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 360px;
    height: 640px;
    border-radius: 10px;
    overflow: hidden;
}

/* Card css */
.card {
    height: 100%;
    width: 0;
    z-index: -1;
    background-size: cover;
    background-position: center;
    transition: 1s;
}

.c1 {
    background-image: url(./asset/portrait/1.jpg);
}