/* rgb(59, 59, 59) */


@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wdth@0,75..100;1,75..100&display=swap');

* {
    font-family: "Ubuntu Sans", sans-serif;
}

body {
    background-color: black;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#control {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0px 0px 5px 5px;
    z-index: 3;
}

button {
    padding: 5px 0px;
    border: 1px solid rgb(59, 59, 59);
    background: transparent;
    color: white;
}

button:hover{
    background-color: #ffffff1e;
}

button:active {
    border: white 1px solid;
}

#start {
    width: 150px;
}

#info {
    width: 50px;
}

#info-container {
    color: white;
    position: absolute;
    border: 1px solid rgb(59, 59, 59);
    padding: 5px 10px;
    margin-left: 5px;
    bottom: 40px;
    left: -320px;
    transition: all 800ms cubic-bezier(0.375, 0.290, 0.005, 1.210);
    z-index: 3;
}

#info-container span {
    font-size: 80%;
    color: rgb(204, 204, 204);
}

#info-container p {
    padding: 0;
    margin: 3px 0px;
}

.on {
    position: absolute;
    transform: translateX(320px);
}

/* Spinner loading */
.loader {
    display: flex;
    align-items: center;
  }
  
  .bar {
    display: inline-block;
    width: 3px;
    height: 20px;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 10px;
    animation: scale-up4 1s linear infinite;
  }
  
  .bar:nth-child(2) {
    height: 35px;
    margin: 0 5px;
    animation-delay: .25s;
  }
  
  .bar:nth-child(3) {
    animation-delay: .5s;
  }
  
  @keyframes scale-up4 {
    20% {
      background-color: #ffff;
      transform: scaleY(1.5);
    }
  
    40% {
      transform: scaleY(1);
    }
  }
/*  */


/* Card container */
.image-slideshow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 360px;
    height: 640px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
}

#notes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    opacity: 0;
    transition: 800ms;
    width: 100%;
}

#notes p {
    color: white;
    margin-top: 20px;
}

#loading-bar{
    border: 1px solid grey;
    width: 180px;
    height: 5px;
    overflow: hidden;
}
#progress{
    background-color: white;
    height: 100%;
    width: 0%;
    transition: all 13s cubic-bezier(0.455, 0.030, 0.515, 0.955);
}

#progress-info{
    color: rgb(177, 177, 177) !important;
    font-size: 80%;
    margin: 0;
}


/* Card css */
.card {
    height: 100%;
    width: 0;
    z-index: -1;
    background-size: cover;
    background-position: center;
    transition: all 1600ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
}

#c1 {
    background-image: url(./asset/portrait/1.jpg);
}
#c2 {
    background-image: url(./asset/portrait/2.jpg);
}
#c4 {
    background-image: url(./asset/portrait/4.jpg);
}
#c5 {
    background-image: url(./asset/portrait/5.jpg);
}
#c9 {
    background-image: url(./asset/portrait/9.jpg);
}
#c10 {
    background-image: url(./asset/portrait/10.jpg);
}
#c11 {
    background-image: url(./asset/portrait/11.jpg);
}
#c12 {
    background-image: url(./asset/portrait/12.jpg);
}
#c13 {
    background-image: url(./asset/portrait/13.jpg);
}
#c14 {
    background-image: url(./asset/portrait/14.jpg);
}
#c15 {
    background-image: url(./asset/portrait/15.jpg);
}